#loginContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#loginForms{
    display:flex;
    flex-direction: column;
    align-self: center;
}

.textForm{
    border: solid black 1 px;
}

#loginButton{
    align-self: center;
}
