#loginContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
}

#loginForms{
    display:flex;
    flex-direction: column;
    align-self: center;
}

#loginButton{
    align-self: center;
}

.textForm{
    padding: 10px;
}

.paperContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 410px;
    margin-top: 50px;
}

.progressContainer{
    display:flex;
    flex-direction: column;
}

.loadingCircle{
    align-self: center;
}

.circle{
    align-self: center;
}

.pushDown {
    padding-top: 25px;
}

