#editClubForm{
  display: flex;
  flex-direction: column;
}

.inputWidth{
  /* width: 400px;
  padding: 5px;
  height: 100px; */
  display: inline-block;
}

#updateEmailsContainer{
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}

#emailSelect{
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 8px;
}

#updateEmails{
  align-self: center;
  width: 35%;
  display:flex;
  flex-direction: column;
  padding: 10px;
}

.btn-update-info {
  display: block;
}

#goDown {
  padding-bottom: 20px;
}

#edit-club-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  min-height: 95vh;
}

.club-bio-picture-uploader {	
  margin-top: 30px;		 
  margin-bottom: 30px;		  
  display: flex;		
  flex-direction: column;
}

.file-uploader {	
  margin-top: 10px;		
  margin-bottom: 10px;	 
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  /* top: 10px; */

  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -10px;
  left: -40%;
  /* left: 20%; */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.file-uploader-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.file-uploader-tooltip .file-uploader-tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -20px;
  left: -70%;
  /* left: 20%; */
}

.file-uploader-tooltip:hover .file-uploader-tooltiptext {
  visibility: visible;
}



.update-email-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.update-email-tooltip .update-email-tooltiptext {
  /* top: 10px; */
  left: 125%;
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -10px;
  left: -100%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.update-email-tooltip:hover .update-email-tooltiptext {
  visibility: visible;
}

@media (max-width: 40em) {
  #editClubForm{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .btn-update-info {
    display: block;
  }

  .club-bio-picture-uploader {	
    margin-top: 30px;		 
    margin-bottom: 30px;		  
    display: flex;		
    flex-direction: column;
    padding: 15px;
  }

  .tooltip {
    display: none;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    display: none;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    display: none;
  }
}