.editItem{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.editItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

#editItemForms{
  display: none
}

#showItemForms{
  display:block
}

.textFormEdit{
  /* width: 250px; */
  padding: 10px;
}

#selectEditItem{
  cursor: pointer;
}

#selectEditItem:hover{
  color:blue;
}
