#enterEmailForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#emailForm{
  display: flex;
  flex-direction: column;
  align-self: center;
}

#passwordTitle{
  align-self: center;
}
