.greater-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.about-container {
  display: grid;
  width: 70vw;
  margin: 0 auto;  
}

.about-header {
  padding-top: 20px;
  font-size: 36px;
  grid-column: 1 / span 3;
  justify-self: center;
  justify-items: center;
  font-family: 'Comfortaa', sans-serif;
}

.about-main-image {
  background-image: url(../../images/ourgroup.png);
  grid-column: 1 / span 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* width: 60vw; */
  /* TODO SIZE IMAGE PROPERLY; FOR NOW HARD CODE IN HEIGHT */
  height: 500px; 
  margin-bottom: 20px;
}

.about-info {
  text-align: center;
  font-family: 'Muli';
  vertical-align: middle;
  padding: 65px;
  background-color:white;
  color: black;
  position: relative;
}

.hero-texttt {
  /* text-align: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  /* overflow: hidden; */
  font-size: 25px;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 6;
}

.about-bottom-image {
  grid-column: 2 / span 2;
}


.greater-containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}


.about-headerr {
  padding-top: 20px;
  font-size: 36px;
  grid-column: 1 / span 3;
  justify-self: center;
  justify-items: center;
  font-family: 'Comfortaa', sans-serif;
}

@media (max-width: 40em) {

  .greater-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    height: 100vh;
  }
  
  .about-container {
    width: 90vw;
    height: 100vh;
  }

  .about-info {
    text-align: center;
    font-family: 'Muli';
    vertical-align: middle;
    background-color:white;
    color: black;
    position: relative;
  }

  .about-main-image {
  background-image: url(../../images/ourgroup.png);
  grid-column: 1 / span 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 60vw; */
  /* TODO SIZE IMAGE PROPERLY; FOR NOW HARD CODE IN HEIGHT */
  height: 300px; 
  margin-bottom: 20px;
}


}
