.full-height {
  height: 100vh;
}

.greater-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.parallax {
  /* The image used */
  background-image: url("../../images/water_tower.jpg");

  /* Set a specific height */
  min-height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;     

}

.about-container {
  display: grid;
  width: 70vw;
  margin: 0 auto;  
  
}

.about-header {
  padding-top: 20px;
  font-size: 36px;
  grid-column: 1 / span 3;
  justify-self: center;
  justify-items: center;
  font-family: 'Proxima Nova', sans-serif;
}

.about-main-image {
  grid-column: 1 / span 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; 
  margin-bottom: 20px;
}




.about-info {
  text-align: center;
  font-family: 'Proxima Nova';
  vertical-align: middle;
  padding: 65px;
  background-color:white;
  color: black;
  position: relative;
  height: 50vh;
  width: 50vw;
  opacity: 0.5;
  
}

.about-info-text {
  margin: auto;
  width: 60%;
  padding: 10px;

}

.hero-texttt {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 6;
}

.about-bottom-image {
  grid-column: 2 / span 2;
}


.greater-containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}


.about-headerr {
  padding-top: 20px;
  font-size: 36px;
  grid-column: 1 / span 3;
  justify-self: center;
  justify-items: center;
  font-family: 'Proxima Nova', sans-serif;
}

@media (max-width: 40em) {

  .greater-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  
  .about-container {
    width: 90vw;
  }

  .about-info {
    text-align: center;
    font-family: 'Proxima Nova';
    vertical-align: middle;
    background-color:white;
    color: black;
    position: relative;
  }

  .about-main-image {
  grid-column: 1 / span 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px; 
  margin-bottom: 20px;
}


}


