@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  /* --color-primary-light: #2998ff; */
  --color-primary-light: rgba(41, 152, 255);
  --color-primary: #406efd;
  /* --color-primary-dark: #5643fa; */
  --color-primary-dark: rgba(86, 67, 250);
}


#about-club-container {
  display: grid;
  width: 80vw;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}


.club-header {
  grid-row: 1;
  grid-column: 1 / span 3;
  justify-self: center;
  justify-content: center;
}

.club-pictures-container {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
  justify-self: center;
  z-index: 500;
  margin: 20px;
}

.club-pictures-container img {
  min-height: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
}

.club-pictures-slider {
  min-width: 0;
  /* max-width: 500px; */
}

.club-picture {
  min-width: 0;
}


.club-bio {
  text-align: center;
  vertical-align: middle;
  grid-column: 1 / span 2;
  grid-row: span 2;
  padding: 60px;
  background-color: white;
  color: black;
}


.club-links {
  grid-column: 3 / span 1;
  text-align: center;
  vertical-align: middle;
  font-family: 'Raleway';
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/painting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
  display: inline-block;
  margin-left: 20px;
  background-color: #8098c0;

}

.club-meetings {
  grid-column: 3 / span 1;
  text-align: center;
  vertical-align: middle;
  font-family: 'Raleway';
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/finals_lib.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
  display: inline-block;
  margin-left: 20px;
  background-color: #8098c0;
}

.extra {
  margin-bottom: 30px;
}

.about-containerr {
  display: grid;
  width: 70vw;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 10px;
}

.about-main-imagee {
  /* background-image: url(../../images/ourgroup.png); */
  grid-column: 1 / span 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* width: 60vw; */
  /* TODO SIZE IMAGE PROPERLY; FOR NOW HARD CODE IN HEIGHT */
  height: 500px; 
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  #about-club-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  .club-header {
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    margin-top: 20px;
  }

  .club-bio {
    padding: 20px;
    margin-top: 30px;
    margin-left: 0;
  }

  .club-links {
    height: 200px;
    margin-top: 30px;
    margin-left: 0;
  }

  .club-meetings {
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .extra {
    display: none;
  }

}


