.card {
  max-width: 400px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.smallCard {
  max-width: 400px;
  max-height: 150px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.resizing {
  margin-left: 30px;
  max-width: 400px;
}

#background {
  background-color: transparent;
}

.bullet {
  display: 'inline-block';
  margin: '0 2px';
  transform: scale(0.8);

}

.resize {
  margin-left: 110px;
}

h5 {
  font-size: 12pt;
}


.media {
  height: 140;
}

/* const styles = {
  card: {
    minWidth: 275,
  },
  bullet: {
    display: 'inline-block',
    margin: '0 2px',
    transform: 'scale(0.8)',
  },
  title: {
    fontSize: 14,
  },
  pos: {
    marginBottom: 12,
  },
}; */


#test {
  width: 30px;
  height: 30px;
  
}

.quantity {
  font-size: 15px;
  padding-left: 5px;
  position: relative;
}

.spacing {
  padding-left: 10px;
}

