#editViewContainer{
  display: flex;
  flex-direction: column;
}

#editItemsContainer{
  display: flex;
  flex-direction: row;
}

@media (max-width: 40em) {

  #editViewContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  #editItemsContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
}
