#editViewContainer{
  display: flex;
  flex-direction: column;
}

#editItemsContainer{
  display: flex;
  flex-direction: row;
}

#descriptor{
  padding-bottom:25px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.edit-image-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.edit-image-tooltip .edit-image-tooltiptext {
  /* top: 10px; */

  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -10px;
  left: -70%;
  /* left: 20%; */
}

/* Show the tooltip text when you mouse over the tooltip container */
.edit-image-tooltip:hover .edit-image-tooltiptext {
  visibility: visible;
}

/*See EditClubInfo.css for the tooltip css*/

@media (max-width: 40em) {

  #editViewContainer{
    display: flex;
    height: 100vh;
    width: 80vw;
    
  }
  
  .editItemsContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80vw;
  }
}
