#editViewContainer{
  display: flex;
  flex-direction: column;
}

#editItemsContainer{
  display: flex;
  flex-direction: row;
}

@media (max-width: 40em) {

  #editViewContainer{
    display: flex;
    height: 100vh;
    width: 80vw;
    
  }
  
  .editItemsContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80vw;
  }
}
