@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* .breathing-room {
  padding-top: 20px;
} */

.footer-container {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  display: grid;
  /* min-height: 200px; TODO remove for testing */
  /* background-color: var(--color-primary-light); */
  background-color: #6F8AB7;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 50px 1fr 1fr; */
  justify-content: space-around;
  border-radius: 3px;
 
}

.footer-header {
  margin: 20px;
  color: white;
  font-size: 25px;
}

.footer-col {
  margin: 20px;
  color: white;
  grid-row-start: 2;
}

.footer-col--1 {
  grid-row-start: 2;
}

.footer-col-list ul {
  padding: 0;
  list-style-type: none;
}

.footer-link {
  margin: 10px 0;
}