.textForm{
  padding: 10px;
}

.hideApparelSizes{
  display:none;
}

.showApparelSizes{
  display:block;
}

.hideItemStock{
  display:none;
}

.showItemStock{
  display:block;
  padding: 10px;
  padding-bottom: 50px;
}

.uploadImageText{
  /* text-align: center; */
  padding-top: 5px;
  padding-bottom: 10px;
}

.addProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

/* .addProductPaperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 840px;
  width: 600px;
  margin-top: 50px;
  opacity: 0.90;
} */

.additem-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-self: center; */
}

.smaller {
  padding-top: 10px;
}
