.textForm{
  padding: 10px;
}

.hideApparelSizes{
  display:none;
}

.showApparelSizes{
  display:block;
}

.hideItemStock{
  display:none;
}

.showItemStock{
  display:block;
  padding: 10px;
  padding-bottom: 50px;
}

.uploadImageText{
  /* text-align: center; */
  padding-top: 5px;
  padding-bottom: 10px;
}

.additem-info-container {
  display: flex;
  /* align-self: center; */
}

.smaller {
  padding-top: 10px;
}
