.textForm{
  padding: 10px;
}

.hideApparelSizes{
  display:none;
}

.showApparelSizes{
  display:block;
}

.hideItemStock{
  display:none;
}

.showItemStock{
  display:block;
}

.uploadImageText{
  text-align: center;
}
