.itemDetailed{
  display:flex;
  flex-direction: column;
}

.itemInfo{
  display:flex;
  flex-direction: row;
  align-self: center;
}

#imageContainer{
  width: 300px;
  height: 300px;
}

#detailedImage{
  width: 100%;
  height: 100%;
}

#itemDescriptions{

}
