@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.root {
    flex-grow: 1;
}

.grow {
    flex-grow: 1;
}

.menuButton{
    margin-left: -12;
    margin-right: 20;
}

#navLink{
  display: flex;
  justify-content: flex-end;
}

.badge{
  top: 50%;
  right: -3;
}

.navLabel{
    width: 200px;
    text-align: center;
    color:white
}

.testClass {
    background-color: green;
    color: yellow;
}

.club-select {
  width: 200px;
  border-left: 20px;
}
