#signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      to right,
      /* rgba(111, 138, 183, 0.3),
      rgba(97, 93, 108, 0.3) */
      rgba(202, 229, 255, 0.2),
      rgba(172, 237, 255, 0.2)
    ),
    url(../../images/birdwatching.jpg);
  height: 95vh;
  background-size: cover;
}

#signupForms {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.signupPaperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 500px;
  margin-top: 50px;
  opacity: 0.90;
}

.textForm {
  padding: 10px;
}

#signupForms {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
}

#signupButton {
  align-self: center;
}

.progressContainer {
  display: flex;
}

.loadingCircle {
  align-self: center;
}

.pushDown {
  padding-top: 50px;
}


