#signupContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signupForms{
    display:flex;
    flex-direction: column;
    align-self: center;
    
}

.signupPaperContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 500px;
    margin-top: 50px;
}

.textForm{
    padding: 10px;
}

#signupForms{
    display:flex;
    flex-direction: column;
    align-self: center;
    padding: 10px;
}

#signupButton{
    align-self: center;
}

.progressContainer{
    display:flex;
}

.loadingCircle{
    align-self: center;
}

.pushDown {
    padding-top: 50px;
}
